<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image or Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Image or Video</h1>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="file" accept="image/*,video/*" required>
            <input type="submit" value="Upload" class="button upload-button">
        </form>
        <a href="{{ url_for('home') }}" class="button">Back to Home</a>
    </div>
</body>
</html>
